.dashboard-container {
    flex: 1; 
    display: flex;
    overflow: hidden;
}


.page-container{
    height: calc(100vh - 60px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    min-height: 0;
}


.dashboard-header{
    font-size: 36px;
    color: var(--green-dark);
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 5%;
}

.right-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.dashboard-sep{
    border: 1px solid gray;
}

.index-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    padding: 5%;
}

.all-reminders{
    height: 100%;
    box-sizing: border-box;
}
.all-reminders-title {
    font-size: 32px;
    padding: 8px;
}
.highlight {
    width: 252px;
    height: 10px;
    background-color: var(--bright-gold);
    border-radius: 20px;
}
.title {
    padding: 8px;
    font-size: 28px;
}
.find-vet-container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

}
.find-vet-container div {
    padding: 8px;
    font-size: 28px;
}
.find-vet-container div:nth-child(2) button {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1.5px solid rgb(255,163,128);
    overflow: hidden;
    outline: none;
    vertical-align: middle ;
    font-family: borish;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;
}
.find-vet-container div:nth-child(2) button:hover {
    background-color: var(--pale-purple);
}