.welcome-container-1{
    display: flex;
    justify-content: space-evenly;
    height: 100%; 
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
}
.home-page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.section-1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: rgba(255, 255, 255, 0.74); */
    /* background-image: url('../../assets/layered-waves-haikei.svg');
    background-position: bottom;
    background-size: cover; */
}
.bg-image{
    position: fixed;
    z-index: -1;
    width: 100vw;
    left: 0;
    bottom: 0;
    filter: saturate(55%);
}
.display-border{
    width: fit-content;
    /* height: fit-content; */
    border: 4px solid var(--gold);
    box-sizing: border-box;
    padding: 20px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;

}
.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-dog{
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}
.section-1-text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 5%;
    height: 100%;
    width: 100%;
}
.welcome-heading{
    padding: 20px;
    box-sizing: border-box;
    color: var(--green-dark);
    position: relative;
}
.welcome-heading h1{
    font-size: 64px;

}
.welcome-message{
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: -10px;
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.76); */
}
.welcome-message p{
    line-height: 1.75rem;
    /* background-color: white; */
    box-sizing: border-box;
    padding: 10%;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    margin: 5%;
    /* border: 1px solid var(--gold); */
    position: relative;
}

.welcome-links h3{
    font-family: 'DM Serif Display', serif;
    color: var(--green-dark);
    position:relative;
    font-size: 24px;
    text-wrap: nowrap;

}

.welcome-links{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10%;
    gap: 12px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    margin: 5%;
    position: relative;
}

.demo-login{
    position: relative;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    background-color: var(--gold);
    color: white;
    transition: all 0.3s ease;
}
.demo-login:hover{
    background-color: #7a693a;
}

.welcome-heading .deco-1{
    left: 0;
    bottom: -4px;
}

.deco-3{
    width: 0%;
    height: 1px;
    background-color: var(--gold);
    position: absolute;
    box-sizing: border-box;
    transition: width 2s ease;
    bottom: 0;
    left: 0;
}

.welcome-heading.loaded .deco-3{
    width: 100%;
    height: 1px;
    background-color: var(--gold);
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}

.welcome-message-1,.welcome-message-2,.welcome-message-3{
    width: 50%;
    box-sizing: border-box;
    margin-left: 20px;
    position: absolute;
    border-radius: 20px;
}

.welcome-message-2{
    align-self: flex-start;
    margin-left: 0;
    top: 30%;
    left: 0;
    z-index: 1;
}

.welcome-message-1{
    top: 5%;
}

.welcome-message-3{
    bottom: 10%;
}
