html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: dm-serif-display;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#root {
    margin: 0;
    padding:0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 10px; */
    font-size: 20px;
    height: 60px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px -2px 4px black;
    background-color: #fff;
}

.nav-icon{
    width: 60px;
    height: 60px;
}

.title-section {

    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: var(--green-dark);
}

.pet-portal-title a{
    font-size: 36px;
}
.auth-section {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.auth-section .deco-1{
    position: static;
}
.login-button-container,
.signup-button-container,
.logout-button-container {
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    z-index: 99;
}


.marker{
    width: 0%;
    height: 10px;
    background-color: var(--bright-gold);
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
    z-index: -1;
}

.login-button-container:hover .marker, 
.signup-button-container:hover .marker,
.logout-button-container:hover .marker {
    width: 80%;
}