.pet-dashboard-container{
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    /* padding-top: 5%; */
    display: flex;
}
.dash-page-container{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.pet-dashboard{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.back-link{
    color: var(--green-dark);
    font-size: 20px;
    box-sizing: border-box;
    margin: 12px;
    width: fit-content;
}
.pet-dash-header{
    font-size: 48px;
    box-sizing: border-box;
    padding-left: 12px;
    text-wrap: nowrap;
    position: absolute;
    bottom: 0px;
}

.pet-dash-highlight{
    position: relative;
    width: 300px;
    height: 20px;
    background-color: var(--bright-gold);
    box-sizing: border-box;
    margin: 30px;
    border-radius: 8px;
}

.pet-metrics-container{
    display: flex;
    gap: 40px;
    height: 100%;
}

.pet-reminder-header, .pet-vaccines-header, .medications-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    background-color: var(--green-dark);
    color: var(--main-bg-beige);
}


.pet-reminder-module{
    width: 40%;
    border: 1px solid var(--green-dark);
    height: 100%;
    box-sizing: border-box;
}

.preventatives-module{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    gap: 40px;
}

.vaccines{
    height: 50%;
    border: 1px solid var(--green-dark);
    box-sizing: border-box;
}

.medications{
    height: 50%;
    border: 1px solid var(--green-dark);
    box-sizing: border-box;
}

.pet-dash-buttons{
    border: 1px solid var(--bright-gold);
    background: none;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bright-gold);
}
.pet-dash-buttons:hover {
    cursor: pointer;
    background-color:  #f8d78986;

}
.pet-signalment{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.profile-pic-border{
    width: 240px;
    height: 240px;
    box-sizing: border-box;
    border: 4px solid var(--gold);
    border-radius: 120px;
    padding: 8px;
}

.profile-pic{
    width: 100%;
    height: 100%;
}

.pet-summary{
    width: 100%;
    border: 1px solid var(--green-dark);
    height: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
    gap: 20px;
    box-sizing: border-box;
    background-color: white;
}

.pet-attribute{
    display: flex;
    border-bottom: 1px solid var(--gold);
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
    align-items: center;
    position: relative;
    padding-left: 5%;
}

.pet-attribute h3{
    font-size: 24px;
    font-style: bold;
}

.decoration {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 2px solid var(--gold);
    bottom: -5px;
    left: 0;
    box-sizing: border-box;
    background-color: var(--gold);
}

.name-splash-container{
    position: absolute;
    top: -28px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}
.name-border{
    border: 1px solid var(--green-dark);
    box-sizing: border-box;
    position: relative;
    background-color: white;
    padding: 10px;
}
.name-splash-container h3{
    font-size: 36px;
}