.medication-info-container {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    position: relative;
}

.medication-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medication-content p {
    font-size: 14px;
    color: #666; 
    margin-bottom: 8px; 
    line-height: 1.4; 
}


.medication-header p {
    font-size: 16px;
    color: #333; 
    font-weight: bold;
    text-align: right; 
}
.medication-info-container:hover{
    cursor: pointer;
}
.medication-info-container:hover::after{
    content: 'Edit';
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-family: domine;
    font-style: italic;
    color: #666;
}