.vaccine-info-container {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    position: relative;
}

.vaccine-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vaccine-header p {
    font-size: 16px;
    color: #333; 
    font-weight: bold;
}

/* .vaccine-info-container:hover::after{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-family: domine;
    font-style: italic;
    color: #666;
} */

.vaccine-date{
    display: flex;
    align-items: center;
    gap: 12px;
}

.vaccine-desc {
    display: flex;
    align-items: center;
}