.below-navbar {
    font-family: Saol, Times, "Times New Roman", serif;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    height: 100vh;
    background-color: var(--main-bg-beige);
}

.content-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    height: 100vh;
    background-color: transparent;
    font-size: 28px;

}
.session-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.3); */

}
.session-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent
}
.session-input-field {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: transparent
}
.session-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.session-form div:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
}
.session-form div:nth-child(2) {
    /* padding-top: 10px; */
    padding-bottom: 10px;
}
#email-input, 
#password-input {
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #B6C6BC;
}
.auth-button-container {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.auth-button-submit{
  margin-right: 10px;
  margin-left: 27px;
  margin-bottom: 10px;
  position:relative;
}
.auth-button-new-to-portal {
    position:relative;
}

.auth-button-submit button, 
.auth-button-new-to-portal button{
    align-items: center;
    text-align: center;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    vertical-align: middle ;
    font-family: borish;
    font-size: 17px;
}
.auth-button-submit button::after,
.auth-button-new-to-portal button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(255,163,128); /* Adjust color as needed */
  position: absolute;
  bottom: 10px; /* Adjust distance from the button text */
  left: -2px;
}
.auth-button-submit button:hover, 
.auth-button-new-to-portal button:hover{
    background-color: var(--pale-purple);
    color: var(--green-dark);
    border: 1px solid var(--green-dark);
    box-sizing: border-box;
    border-radius: 20px;
}