/* TODO: Add sitewide styles */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root{
    --main-bg-beige: #f6f0eb;
    --green-dark: #283333;
    --steel-blue: #9db4c4;
    --pale-purple: #d8d8f8;
    --gold: #a58c49;
    --bright-gold: #ffcb53;
    --sage: #9aa184;
}

html{
    background-color: var(--main-bg-beige);
}

h1{
    font-family: 'DM Serif Display', serif;
}

p{
    font-family: 'Raleway', sans-serif;
}
