.modal-background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-appointment,
.modal-content-vaccination,
.modal-content-medication {
  position: absolute;
  left: 50%;
  top: 400px;
  width: 350px;
  height: 520px;
  transform: translate(-50%, -50%);
  /* background-color: var(--main-bg-beige); */
  background-color: var(--main-bg-beige);
  /* color: var(--main-bg-beige); */
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  border: 1px solid #333;
  font-weight: bold;
  font-size: 20px;
}
.modal-content-edit{
    position: absolute;
    left: 50%;
    top: 400px;
    width: 350px;
    height: 520px;
    transform: translate(-50%, -50%);
    background-color: var(--main-bg-beige);
    color: var(--green-dark);
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    border: 1px solid #333;
    font-weight: bold;
    font-size: 20px;
}
.reminder-modal-content-top {
    display: flex;
    padding: 8px;
    justify-content: flex-end; 
}
.modal-content-bottom-title {
    padding: 0;
    margin-bottom: 20px;
}
.reminder-modal-content-top button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 14px;
    border: 1.5px solid; 

    border-color: black;

    overflow: hidden;
    outline: none;
}

.reminder-modal-content-top button:hover,
.reminder-button-container button:hover {

    background-color: var(--pale-purple);
}
.modal-content-bottom-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-label {
    padding-bottom: 5px;
}

.input-label input{
    height: 25px;
    width: 300px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 16px;
    font-size: 16px;
    padding-left: 6px;
}
.type-select-label,
.title-select-label,
.sex-select-label,
.duedate-input-label,
.perform-date-input-label,
.description-input-label,
.location-input-label {
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
    text-align: left;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
}
.type-select,
.title-select {
    height: 30px;
    width: 310px;
    border:2px solid rgb(205, 205, 205);
    border-radius: 16px;
    font-size: 16px;
    padding-left: 6px;
}
.modal-content-bottom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reminder-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.reminder-button-container button{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1.5px solid rgb(255,163,128);
    color: white;
    overflow: hidden;
    outline: none;
    vertical-align: middle ;
    font-family: dm-serif-display;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 20px;
}


.modal-content-bottom-form input::placeholder,
.modal-content-bottom-form select::placeholder {
    color: #999;
    font-size: 12px;
    font-style: italic; 
    padding-left: 15px;
}
textarea {
    border-radius: 20px;
}
.description-input::placeholder {
    padding-left: 15px;
}
.description-input{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 306px;
}
.reminder-button-edit{
    color: var(--green-dark);
}

.delete-reminder-button {
    color: #333;
}

.description-input::placeholder {
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    color: grey; 
}